# Dependencies
node_modules/

# Production build outputs
dist/

# Logs
*.log
npm-debug.log*

# OS metadata
.DS_Store
Thumbs.db

# IDE & Editor files
.vscode/
.idea/
*.swp
*.swo

# Temporary test outputs
playwright-report/
test-results/
